.formulario{
    display: flex;
    justify-content: center;
}

.imagem{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    min-height:100vh;
    background-image: url(background.png);
    background-size: cover;
    filter: blur(7px);
}

#margem{
    top:20%;
    display:flex;
    justify-content: center;
    float:left;
    position:absolute;
    width:350px;
    height: 320px;
    
    
}

form{
    position: absolute;
    top:50%;
    transform: translate(0%, -50%);

}

form input{
    margin-bottom: 35px;
    border-radius: 10px;
    font-size: 25px; 
    border: none;   
}


#margem button{
    position: absolute;
    left:50%;
    transform: translate(-50%,0%);
    width:200px;
    font-size: 29px;
    background-color: hsl(120, 100%, 35%);
    border: none;
    border-radius: 8px;
    color: white;
}

#margem button:hover{
    background-color: hsl(120,100%,45%);
    cursor:pointer;
}

